* { box-sizing: border-box; }
body { 
    margin: 0; 
    font-family: 'Segoe UI', sans-serif; 
    height: 100vh; 
    overflow: hidden; 
}

.container { 
    display: flex; 
    height: 100%; 
    width: 100%; 
}


.left-panel {
    width: 35%;
    background-color: #f0f0f0;
    border-right: 3px solid #ccc;
    display: flex;
    flex-direction: column;
}

.header-info {
    background: #444;
    color: #fff;
    padding: 8px;
    font-size: 14px;
}

.order-settings { padding: 10px; background: #ddd; }
.toggle-group { display: flex; gap: 5px; margin-bottom: 5px; }
.toggle-group button {
    flex: 1; 
    padding: 15px; 
    border: 1px solid #aaa; 
    font-weight: bold; 
    font-size: 16px; 
    cursor: pointer;
    background: #eee;
}

.toggle-group button.active { 
    background-color: #2ecc71; 
    color: white; 
    border: 2px solid red; 
}

.pager-box { 
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #999;
}

.order-list {
    flex: 1; 
    overflow-y: auto;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    align-items: center;
    font-size: 14px;
}
.order-item b { color: #b33900; } 

.payment-section { background: #333; padding: 10px; color: white;}
.total-row { 
    display: flex; 
    justify-content: space-between; 
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    color: #f1c40f; 
}
.btn-pay {
    width: 100%; 
    padding: 15px; 
    background: #007bff; 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    border: none; 
    cursor: pointer;
}

.right-panel {
    width: 65%;
    background-color: #222; 
    padding: 5px;
    overflow-y: auto;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px;
}

.product-card {
    height: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.2);
    font-weight: bold;
    user-select: none;
}
.product-card:active { opacity: 0.7; }
.prod-name { font-size: 13px; line-height: 1.2; margin-bottom: 4px;}
.prod-price { font-size: 12px; font-weight: normal;}